[Desktop Entry]
Comment=
Name=Firefly-Light
X-KDE-PluginInfo-Author=Mrcuve0
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=mrcuve0+themes@posteo.net
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Firefly-Light
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://github.com/Mrcuve0
X-Plasma-API=5.0

[BlurBehindEffect]
enabled=true

[ContrastEffect]
contrast=0
enabled=false
intensity=1.8
saturation=0
